

.navbar{
    overflow: hidden;
    background-color: purple;
    font-family: sans-serif;
    padding: 40px 60px;
     
}
.navbar a{
    float: left;
    font-size: 20px;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
}
.dropdown{
    display: block;
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    display: block;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
}
    .dropdown-content {
  display: none;
  position: absolute;
  background-color: purple;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: inherit;
}
input[type=submit]{
    margin: 0;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.dp{
    margin: 0;
    color: black;
    padding: 20px 50px;
    text-decoration: none;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
    input[type=file]{
    margin: 0;
    padding: 40px 40px;
    background-color: white;
    color: purple;
    position: absolute;
    top:54%;
    left:75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

form.lf{
    border: 3px solid gray;
    
}
input[type=text], input[type=Password]{
    width: 50%;
    padding: 8px 14px;
    margin: 8px;
    border: 1xp solid grey; 
    box-sizing: border-box;
    display: inline-block;

}
.button{
    background-color:limegreen;
    font-size: 15px;
    color: green;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 40%;
}
.button:hover{
    width:40%;
    background-color: red;
    
}
.container{
    padding: 18px;
    
}
.rbtn{
    background-color: transparent;
    color: green;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 50%;      
}
.rbtn:hover{
      width:50%;
    background-color: black;
}
.search-head a{
    overflow: hidden;
    width: 100%;
    background-color: purple;
    float: left;
    text-align: left;
    color: white;
    text-decoration:none;
    padding: 40px 50px;
    font-size: 20px;
}
.search-content {
  position: relative;
  top: 50%;
  width: 80%;
  text-align: center;
  margin-top: 50px;
  margin: auto;
  font-size: 20px;
}


.search-content input[type=submit] {
  float: left;
  width: 15%;
    top:85%;
    left:90%;
  padding: 15px;
  background: lawngreen;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.admin a{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
  border-radius:    50%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.contain a{
     display: inline-block;
     padding: 10px;
     text-align: center;
     border: 1px solid;
     border-radius: 20px;
     background-color: plum;
     width: 90%;
     text-decoration: none;
     color: white;
     font-size: 30px;
}
.contain a:hover{
    width: 90%;
    background-color: lightseagreen;
}