<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Verify_User</servlet-name>
        <servlet-class>Verify_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_Save</servlet-name>
        <servlet-class>Data_Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePrescription</servlet-name>
        <servlet-class>mypkg.SavePrescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPrescription</servlet-name>
        <servlet-class>mypkg.ViewPrescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sampel</servlet-name>
        <servlet-class>Sampel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPriscription</servlet-name>
        <servlet-class>mypkg.ShowPriscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verify_User</servlet-name>
        <url-pattern>/Verify_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_Save</servlet-name>
        <url-pattern>/Data_Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePrescription</servlet-name>
        <url-pattern>/SavePrescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPrescription</servlet-name>
        <url-pattern>/ViewPrescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sampel</servlet-name>
        <url-pattern>/Sampel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPriscription</servlet-name>
        <url-pattern>/ShowPriscription</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
